body{
	align-items: center;
	align-content: center;
	background: #9575CD;
	color: #fff;
	display: flex;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 20px;
	justify-content: center;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
a{
	color: #fff;
}
.div-1, .div-2, .div-3, .div-4{
	align-items: center;
	background: rgba(0,0,0,0.4);
	display: flex;
	justify-content: center;
	left: 0;
	padding: 10px;
	position: absolute;
	top: calc(50vh - 22px);
	width: calc(100vw - 20px);
	z-index: 2;
}
.div-2{
	z-index: 3;
}
.div-3{
	z-index: 4;
}